body {
    background-color: #616BA8;
  }
  
  h1 {
      color: rgba(240, 193, 236, 0.533);
      margin-left: auto;
      margin-right: auto;
      margin-top: 75px;
      margin-bottom: 50px;
      width: 9em;
      font-family: Blippo, fantasy;
      font-stretch: ultra-expanded;
      text-shadow: 2px 2px yellow;
      font-size: 60px;
  
  }
  
  #instruction {
      color: pink;
      font:  Blippo, fantasy;
      font-size: 35px;
      
      
  }
  
  
  
  
  form {
      border: 0.5rem outset #616BA8;
      outline: 0.5rem solid yellow;
      box-shadow: 0 0 0 2rem pink;
      border-radius: 30px;
      font: 1rem Blippo, fantasy;
      margin: 2rem;
      padding: 2rem;
      outline-offset: 0.5rem;
      color: #847996;
      margin-left: auto;
      margin-right: auto;
      width: 20em;
      height: 350px;
      text-shadow: 2px 2px white;
      font-size: 25px;
      text-align: center;
  
  }
  
  button {
      border: 0.5rem outset pink;
      background-color: yellow;
      padding: 10px 30px;
      font-size: 14px;
      font:  Blippo, fantasy;
      cursor: pointer;
      margin: 1rem;
      margin-left: auto;
      margin-right: auto;
      color: #616BA8;
  }
  